<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">


    <!-- :-----------------:HEADER:-----------------: -->
     <!-- :-----------------:Contact:-----------------: --> 
    <section id="Contact">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center m-auto">
          <div class="col-12">
            <div class="head pb-5">
              <h2>Contact Us.</h2>
            </div>
          </div>

          <div class="col-12">
              <div class="row align-items">
                <div class="col-sm-12 col-lg-4">

                  <span class="d-inline-block"><i class="fa-solid fa-mobile-screen-button position-relative top-50"></i></span>
                  <div class="info pt-3">
                    <h5>Call Us On</h5>
                    <p>+985 123 7856</p>
                  </div>
                  
                </div>
                <div class="col-sm-12 col-lg-4">

                  <span class="d-inline-block rounded-circle"><i class="fa-solid fa-envelope position-relative top-50"></i></span>
                  <div class="info pt-3">
                    <h5>Email Us At</h5>
                    <p>Website.MAGICBOX@gmail.com</p>
                  </div>

                </div>
                <div class="col-sm-12 col-lg-4">

                  <span class="d-inline-block rounded-circle"><i class="fa-solid fa-location-dot position-relative top-50"></i> </span>
                  <div class="info pt-3">
                    <h5>Visit Office</h5>
                    <p>202, Grasselli Street , Conway.</p>
                  </div>

                </div>

              </div>
          </div>

          <div class="col-sm-12 col-md-12 first">
            <form action="" class="d-flex justify-content-between flex-wrap pt-5">
              <input type="text" name="name" placeholder="Name" class="ps-2 bottom-0 rounded-2 input" style="width: 50%;">
              <input type="text" name="email" placeholder="Email" class="ps-2 bottom-0 rounded-2 input" style="width: 50%;">
              <input type="text" name="subject" placeholder="Subject" class="ps-2 bottom-0 rounded-2 w-100">
              <textarea name="message" id="message" class="w-100 mt-3 p-2 rounded-2" placeholder="Message" style="height: 250px;"></textarea>
              <button type="submit" class="py-2 mt-4 text-white rounded-1  ms-auto text-uppercase" >Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- :-----------------:END Contact:-----------------: --> 


      


</body>
</html>

