/* -----------------> Global <----------------->*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500&display=swap');


*{
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}




h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat" , "sans-serif" !important ;
}

:root{
    --main-padding:80px;
    --main-color: #1C1C1C;
    --pink-color:#e65f78;
    --p-color:#6c757d;

}


.head h2{
    font-size: 32px;
    font-weight: 500;
    color:#212529 !important ; 
}
.head h2 span{
    font-weight: 700 !important;
    font-family: "Montserrat" , "sans-serif";
}

.head p{
    font-size: 16px !important;
    line-height: 21px;
    color:var(--p-color);
    width:75%;
    text-align: center;
    margin: auto;
}

:has(header nav .nav-item .active:not(.home)) .navbar-expand-lg{
    background-color: white !important;
    box-shadow: 2px 2px 30px 2px rgb(0, 0, 0 ,0.08);
    height:90px;
    animation-name: chaneHeight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes chaneHeight {
    0%{
        height:0px;
    }
    50%{
        height:100px;
    }

    100%{
        height:80px;
    }
}

:has(header nav .nav-item .active:not(.home)) .navbar-expand-lg a{
    color:black !important;
}

.head h2 {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 4; 
}

.head h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1; 
}

/* -----------------> END global <----------------->*/


/* -----------------> HEADER <----------------->*/
header a{
    color:white !important ; 
    font-size: 15px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
}

.navbar-brand{
    font-size: 30px !important;
    line-height: 30px;
}


:has(header nav .nav-item .active:not(.home)) header nav .nav-item .active{
    color:var(--pink-color) !important;
}

:has(#navtoggle:checked) .collapse-navbar-collapse li a{
    color:black !important;
} 

:has(#navtoggle:checked) .collapse-navbar-collapse li a.active{
    color:var(--pink-color) !important;
}  

header nav .navbar-nav li{
    padding-right: 35px !important;
}
/* -----------------> END HEADER <----------------->*/  




/* ----------------->  HOME <----------------->*/
#home {
    background-size: cover;
    font-family: "Montserrat";
    background-position: center;
}

#home h2{
    font-size: 24px;
    font-weight: 500;
}



#home h1 span::after{
    content: "";
    animation-name: typingSkill;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#home .to-bottom{
    padding: 20px 12px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;

    bottom:0px;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#home .to-bottom:after{
    content: "";
    position: absolute;
    left:50%;
    top:55%;
    background-color: white;
    height:10px;
    width:3px;
    transform: translateX(-50%);
    border-radius: 50px;
}



@keyframes typingSkill {
    0% { content: "|"; }
    1% { content: "D|"; }
    2% { content: "De|"; }
    3% { content: "Des|"; }
    4% { content: "Desi|"; }
    5% { content: "Desig|"; }
    6% { content: "Designe|"; }
    7% { content: "Designer|"; }
    8% { content: "Designer"; }
    9% { content: "Designer|"; }
    10% { content: "Designer"; }
    11% { content: "Designer|"; }
    12% { content: "Designer"; }
    13% { content: "Designer|"; }
    14% { content: "Designer"; }
    15% { content: "Designer|"; }
    16% { content: "Designer"; }
    17% { content: "Designe|"; }
    18% { content: "Design|"; }
    19% { content: "Desig|"; }
    20% { content: "Desi|"; }
    21% { content: "Des|"; }
    22% { content: "De|"; }
    23% { content: "D|"; }
    24% { content: "|"; }
    25% { content: "|"; }
    26% { content: "D|"; }
    27% { content: "De|"; }
    28% { content: "Dev|"; }
    29% { content: "Deve|"; }
    30% { content: "Devel|"; }
    31% { content: "Develo|"; }
    32% { content: "Develop|"; }
    33% { content: "Develope|"; }
    34% { content: "Developer|"; }
    35% { content: "Developer"; }
    36% { content: "Developer|"; }
    37% { content: "Developer"; }
    38% { content: "Developer|"; }
    39% { content: "Developer"; }
    40% { content: "Developer|"; }
    41% { content: "Developer"; }
    42% { content: "Developer|"; }
    43% { content: "Developer"; }
    44% { content: "Develope|"; }
    45% { content: "Develop|"; }
    46% { content: "Develo|"; }
    47% { content: "Devel|"; }
    48% { content: "Deve|"; }
    49% { content: "Dev|"; }
    50% { content: "De|"; }
    51% { content: "D|"; }
    52% { content: "|"; }
    53% { content: "|"; }
    54% { content: "L|"; }
    55% { content: "La|"; }
    56% { content: "Lar|"; }
    57% { content: "Larr|"; }
    58% { content: "Larry|"; }
    59% { content: "Larry |"; }
    60% { content: "Larry D|"; }
    61% { content: "Larry Da|"; }
    62% { content: "Larry Dan|"; }
    63% { content: "Larry Dani|"; }
    64% { content: "Larry Danie|"; }
    65% { content: "Larry Daniels|"; }
    66% { content: "Larry Daniels"; }
    67% { content: "Larry Daniels|"; }
    68% { content: "Larry Daniels"; }
    69% { content: "Larry Daniels|"; }
    70% { content: "Larry Daniels"; }
    71% { content: "Larry Daniels|"; }
    72% { content: "Larry Daniels"; }
    73% { content: "Larry Daniels|"; }
    74% { content: "Larry Daniels"; }
    75% { content: "Larry Dani|"; }
    76% { content: "Larry Dan|"; }
    77% { content: "Larry Da|"; }
    78% { content: "Larry D|"; }
    79% { content: "Larry |"; }
    80% { content: "Larry|"; }
    81% { content: "Larr|"; }
    82% { content: "Lar|"; }
    83% { content: "La|"; }
    84% { content: "L|"; }
    85% { content: "|"; }
    86%,100% { content: "|"; }
}


#home .container .icons span{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    width:35px;
    height:35px;
    border-radius: 50%;
    position: relative;
    text-align: center;
}


#home .container .icons span i{
    transform: translate(-50% , -50%);
    font-size: 14px !important;
}

#home p{
    color:rgba(255, 255, 255, 0.75);
    line-height: 29px;
}


#home button{
    padding: 13px 38px;
}

@keyframes move {
    0%{
        bottom:40px ;
        display: none;
    }
    5%{
        bottom:0px ;
    }
    30%{
        bottom:15px;
    }
    40%{
        bottom:0px;
    }   
    50%{
        bottom:5px;
    }   
    70%{
        bottom:0px;
    }
    90% , 100%{
        bottom:40px;
    }
}

/* -----------------> END HOME <----------------->*/


/* -----------------> About <----------------->*/
#about{
    padding: var(--main-padding) 0px !important;
}


#about h2{
    font-weight: 700 !important;
    color:#212529    !important;
    font-size: 30px;
    line-height: 38px;
}


#about .progress-bar  > div{
    position: relative;
    top:3px !important;
}


#about .col-lg-6 p{
    font-size: 15px !important;
    color:#748182;
    padding-top: 5px;
}


#about .about span{
    color:var(--pink-color);
}

#about .about-icons a{
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    color:black;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    transition: color,border 0.75s;
}

#about .about-icons a i{
    position: relative;
    top:50%;
    transform: translateY(-65%);
}


#about .about-icons a:hover{
    color:var(--pink-color);
    border-color: var(--pink-color);
}


/* -----------------> END About <----------------->*/



/* -----------------> Services <----------------->*/

#Services{
    background-color: #F8F9FA;
    padding: var(--main-padding) 0px;
}


#Services .row{
    padding-top: 80px;
} 


#Services .card {
    border:1px solid #e8e8e8;
}


#Services .card .card-body i{
    font-size: 44px;
    color:var(--pink-color)
}


#Services .card .card-body h4{
    font-size: 20px;
    color:#212529;
    font-weight: 600;
    position: relative;

}


#Services .card .card-body p{
    padding: 0px 2px;
    color:var( --p-color);
}


#Services .card .card-body h4::after{
    content: "";
    position: absolute;
    width:40px;
    height:2px;
    bottom: -15px;
    left:50%;
    
    background-color:var(--pink-color);
    transform: translateX(-50%);

    transition: width  0.5s;
}


#Services .card:hover h4::after{
    width:70px;
}



/* -----------------> END Services <----------------->*/


/* hire */
#hire{
    padding: var(--main-padding) 0px;
}


#hire h3{
    font-size:  32px;
    font-weight: 700;
}

#hire a{
    text-decoration: none;
    display: inline-block;
    color:#f3f3f3;
    padding: 15px 35px;
    background-color: var(--pink-color);
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
/* End hire */


/* ----------------->  Services <----------------->*/
#Portfolio{
    padding: var(--main-padding) 0px;
}

#Portfolio ul{
    padding-bottom: 35px;
}
#Portfolio ul li{
    padding-left: 10px;
}

#Portfolio ul li button{
    color:#222222 !important;
    position: relative;
    font-weight: 700;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 45px !important;
    border: 0px !important;
}

#Portfolio ul li button.active{ 
    background-color: var(--pink-color) !important;
    color:white !important;
     
}



#Portfolio .row .img .layer{
    background-color: rgba(0,0,0, 0.8);
    width:95%;
    height:100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    text-align: center;
}

#Portfolio .row  .img .layer .info{
    position: relative;
    top:100% !important;
    transform: translateY(-50%);
    color:white;
    transition: top  0.25s;
}

#Portfolio .row  .img:hover .layer{
    padding: 0px !important;
    opacity: 1;
    visibility: visible;

}


#Portfolio .row  .img:hover .layer .info{
    top:50% !important;
}

#Portfolio .row  .img .layer h4{
    font-size: 14px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);
}
#Portfolio .row  .img .layer p{
    font-size: 18px;
}


/* -----------------> END Portfolio <----------------->*/





/* Testimonials */
/* -----------------> Testimonials <----------------->*/
#Testimonials {
    background-color: #F7F7F7;
    padding: var(--main-padding) 0px;
}





#Testimonials .carousel-inner img{ 
    width:90px !important;
    position: relative;
}


#Testimonials .carousel-inner .carousel-item::before{
    content: "\f10d";
    font-family: "Font Awesome 6 free"; 
    font: var(--fa-font-solid);
    font-size: 60px;
    color:var(--pink-color);
}


#Testimonials .carousel-inner .info p{
    color:var(--p-color) !important;
    font-size: 18px;    
    line-height: 27px;
    font-style: italic;
    /* width:740px; */
    padding-top:30px ;
}

#Testimonials .slide .carousel-indicators{
    position: relative;
    top: 300px !important;
}

#Testimonials .slide .carousel-indicators button{
    height:4px;
    width:15px;
    margin-right: 10px;
    background-color: var(--pink-color);

}

#Testimonials .slide .carousel-indicators .active{
    background-color: var(--pink-color);
    width:20px;
}

#Testimonials .slide h4{
    color:#343434 !important;
    line-height: 18px !important;
}

#Testimonials .slide .author p{
    font-size: 16px;
    line-height: 24px;
}
/* -----------------> END Testimonials <----------------->*/




/* -----------------> Contact <----------------->*/
#Contact{
    padding: var(--main-padding) 0px !important;

}

#Contact span{
    font-size: 25px;
    line-height: 25px;
    width: 55px;
    height:55px;
}

#Contact span i{
    transform: translateY(-50%);
    font-size: 40px;
    color:#1c2331;
}

#Contact .info p{
    font-size: 15px !important;
    color:#748182;

}

#Contact form input{
    border: none;
    height:50px;
    outline-color: transparent;
    border: 2px solid #e0e0e0;
}

#Contact form textarea{
    border: none;
    height:160px;
    outline-color: transparent;
    border: 2px solid #e0e0e0;
}

#Contact form button{
    background-color: #1c2331;
    font-size: 13px !important;
    width:180px;
    height:45px;
    border-color:transparent;
    font-weight: 700;
}


#Contact form input:focus , #Contact form textarea:focus{
    outline-color: #1c2331;
}



#Contact .row>*{
    padding-left: 0px !important;
}
/* -----------------> END Contact <----------------->*/


#footer{
    background-color: #212121;
}
#footer p{
    color:#ababab;
    font-size: 16px;
    line-height: 24px;
}

#footer .footer-icons a{
    all:unset;
    background-color: #313131;
    display: inline-block;
    width:45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    margin: 5px;
}

#footer .footer-icons a i{
    position: relative;
    top:50%;
    transform: translateY(-70%);
    color:#ababab;
    transition: color 0.25s;
}


#footer .footer-icons a:hover i{
    color:var(--pink-color)
}



#Blog{
    background-color: #F8F9FA;
    padding: var(--main-padding) 0px;
}

#Blog .card span{
    color:var(--pink-color);
    font-weight: 700;
}

#Blog p{
    color:var(--p-color)
}


#additional{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s 0.25s;
}

#additional .stick-end span{
    background-color: var(--pink-color);
}


#additional .stick-start span{
    top:20% !important;
    padding: 5px 5px;
}

#additional .stick-start span i{
    font-size: 24px;
}

:has(header nav .nav-item .active:not(.home)) #additional{
    visibility: visible;
    opacity: 1;
}