<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  
    


</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">





    <!-- :-----------------:Team:-----------------: --> 
    <section id="Team">
      <div class="container text-center">
        <div class="head mb-5">
          <h2>Our Team.</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-gap-2 pt-5 pb-4">

          <div class="col">
            <div class="card person rounded-top-0">
              <div class="img position-relative d-flex justify-content-center align-items-center overflow-hidden w-100">

                <img class="card-img-top img-fluid rounded-top-0" src="https://www.pngarts.com/files/5/Business-Person-PNG-High-Quality-Image.png" alt="Card image cap">
                <div class="layer position-absolute">
                  <span><i class="fa-brands fa-facebook-f top-50"></i></span>
                  <span><i class="fa-brands fa-twitter top-50"></i></span>
                  <span><i class="fa-brands fa-pinterest top-50"></i></span>
                  <span><i class="fa-brands fa-linkedin top-50"></i></span>
                </div>
                
              </div>
  
              <div class="card-body info rounded-bottom-2 text-white">
                <h3>John Doe</h3>
                <h4>FRONT-END DEVELOPER</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class=" card person rounded-top-0">
              <div class="img position-relative d-flex justify-content-center align-items-center overflow-hidden">

                <img class="card-img-top img-fluid rounded-top-0" src="https://www.pngarts.com/files/5/Business-Person-PNG-High-Quality-Image.png" alt="Card image cap">
                <div class="layer position-absolute">
                  <span><i class="fa-brands fa-facebook-f"></i></span>
                  <span><i class="fa-brands fa-twitter"></i></span>
                  <span><i class="fa-brands fa-pinterest"></i></span>
                  <span><i class="fa-brands fa-linkedin"></i></span>
                </div>
                
              </div>
  
              <div class="card-body info rounded-bottom-2 text-white">
                <h3>Dave Wood</h3>
                <h4>BACK-END DEVELOPER</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class=" card  person rounded-top-0">
              <div class="img position-relative d-flex justify-content-center align-items-center overflow-hidden">

                <img class="card-img-top img-fluid rounded-top-0" src="https://www.pngarts.com/files/5/Business-Person-PNG-High-Quality-Image.png" alt="Card image cap">
                <div class="layer position-absolute">
                  <span><i class="fa-brands fa-facebook-f"></i></span>
                  <span><i class="fa-brands fa-twitter"></i></span>
                  <span><i class="fa-brands fa-pinterest"></i></span>
                  <span><i class="fa-brands fa-linkedin"></i></span>
                </div>
                
              </div>
  
              <div class="card-body info rounded-bottom-2 text-white">
                <h3>Claire Chedd</h3>
                <h4>BACK-END DEVELOPER</h4>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>
    <!-- :-----------------:END Team:-----------------: --> 

    
    <script src="src/assests/bootstrap.bundle.min.js"></script>


</body>
</html>

