<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    


</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">


    
    <!-- :-----------------:HOME:-----------------: -->
    <section id="home" class="top-0 position-relative text-white bg-danger">



    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner text-center w-100">

        <div class="carousel-item active carousel-item-1 ">
          <div class="info text-center d-flex justify-content-center align-items-center flex-column vh-100">
              <h1>WELCOME TO OUR WEBSITE.</h1>
              <h4>We provide you with all the movise and series that you could want to watch.</h4>
              <div class="mt-3 button-wrapper">
                <button class="btn-1 me-2 rounded-1">Read More</button>
                <button class="btn-2 bg-transparent  rounded-1" >
                <a  routerLink="/contect-us" style="color: aliceblue;">Contect us</a>
            </button>
              </div>
          </div>
        </div>

        <div class="carousel-item carousel-item-2 ">
          <div class="info text-center d-flex justify-content-center align-items-center flex-column vh-100">
            <h1>WATCH ON MAGIC BOX.com</h1>
            <h4>We help you to find your favorite movies.</h4>
            <div class="mt-3 button-wrapper">
              <button class="btn-1 me-2 rounded-1">Read More</button>
              <button class="btn-2 bg-transparent  rounded-1"> 
                <a  routerLink="/contect-us" style="color: aliceblue;">Contect us</a>
            </button>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span aria-hidden="true" class="text-white"> <i class="fa-solid fa-arrow-left"></i> </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span aria-hidden="true" class="text-white"> <i class="fa-solid fa-arrow-right" style="color:white;"></i> </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




    </section>
    <!-- :-----------------:END Home:-----------------: --> 


   
    <!-- :-----------------::-----------------: --> 
    <!-- :-----------------:End:-----------------: --> 
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/main.js"></script>

</body>
</html>

